<header class="site-header" role="banner">

  <div class="row site-width">

    <a href="/"><img class="logo" src="../images/logo-spring.png" alt="Spring Logo" /></a>
    <span class="docs-title"><a href="/" >The Spring PetClinic Community</a></span>
    <div class="flex"></div>

    <a class="icon" href="/docs">
      <img src="/images/icon-docs.svg" alt="Documentation home" />
    </a>


    <a class="icon" href="https://github.com/spring-petclinic/">
      <img src="/images/logo-github.svg" alt="github" />
    </a>

    <a class="icon" href="https://spring-petclinic-community.herokuapp.com">
      <img src="/images/icon-dog.svg" alt="live demo" />
    </a>

  </div>

</header>
